/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .paket .container {
    justify-content: start;
    flex-wrap: wrap;
  }
  .paket .container > * {
    margin: 20px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero p {
    font-size: 20px;
  }
 
  .paket .container {
    justify-content: center;
    align-items: center;
  }

  .paket .container div:not(:last-child) {
    margin-right: 20px;
  }

  .fitur {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .fitur > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .fitur > * > object{
    margin-top: 50px;
  }

  .fitur > * > * {
    padding: 10px;
    width: 100%;
  }

  .fitur > * > div {
    padding: 10px;
  }

  /* Ordering */
  .fitur .fitur1 object { order: 2;}
  .fitur .fitur-section object { order: 4;}
  .fitur .fitur3 object { order: 6;}
  .fitur .fitur-section4 object { order: 8;}

  .fitur .fitur1 div { order: 1;}
  .fitur .fitur-section div { order: 3;}
  .fitur .fitur3 div { order: 5;}
  .fitur .fitur-section4 div { order: 7;}

  footer .container > *{
    padding: 20px;
    justify-content: start;
    align-items: start;
    flex: 1;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  footer .container .row {
    flex-direction: column;
  }
 
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* footer .container .row .services,
  footer .container .row .getintouch {
    flex-grow: 1;
  } */
  .paket {
    padding: 10px;
  }
  .paket h1 {
    margin: 40px;
  }
  .paket .container {
    padding: 0;
  }
  .paket .container div {
    padding: 30px 10px;
  }
  .paket .container p {
    margin-top: 0;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 15px;
  }
}
