/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .intro .content {
    margin-top: 60px;
    width: 100%;
    align-items: center;
    justify-content: start;
    text-align: center;
    order: 2;
  }

  .intro p {
    text-align: justify;
  }

  .intro image {
    order: 1;
  }

  .paket .container {
    justify-content: start;
    flex-wrap: wrap;
  }
  .paket .container > * {
    margin: 20px;
  }

  .fitur > * > object {
    padding: 0;
    height: 100%;
  }

  .poster .content {
    width: 85%;
    padding: 70px;
    color: #fff;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero p {
    font-size: 20px;
  }

  .paket .container {
    justify-content: center;
    align-items: center;
  }

  .paket .container div:not(:last-child) {
    margin-right: 20px;
  }

  .fitur {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .fitur > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .fitur > *:not(:last-child) {
    margin-bottom: 150px;
  }

  /* .fitur3 {
    padding: 0 10%;
  } */

  .fitur > * > object {
    margin: 0 auto;
    margin-top: 50px;
    height: 60%;
    width: 60%;
  }

  .fitur > * > * {
    padding: 10px;
    width: 100%;
  }

  .fitur > * > div {
    padding: 10px;
  }

  /* Ordering */
  .fitur .fitur1 object {
    order: 2;
  }
  .fitur .fitur-section object {
    order: 4;
  }
  .fitur .fitur3 object {
    order: 6;
  }
  .fitur .fitur-section4 object {
    order: 8;
  }

  .fitur .fitur1 div {
    order: 1;
  }
  .fitur .fitur-section div {
    order: 3;
  }
  .fitur .fitur3 div {
    order: 5;
  }
  .fitur .fitur-section4 div {
    order: 7;
  }

  .poster {
    background: linear-gradient(rgba(4, 13, 64, 0.71), rgba(4, 13, 64, 0.71)),
      url("../assets/images/poster.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .poster .content {
    width: 100%;
    padding: 70px;
    color: #fff;
  }

  .contact {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .contact > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .describe {
    flex: 0 0 100%;
  }
  .describe h1,
  .describe p {
    margin-bottom: 20px;
  }
  .input {
    flex: 0 0 100%;
  }
  .contact .text {
    height: 43px;
    padding: 15px;
  }
  .text-box-in {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact .width-text-1 {
    width: 100%;
    margin-top: 20px;
  }
  .contact button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  footer .container > * {
    padding: 20px;
    justify-content: start;
    align-items: start;
    flex: 1;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .fitur {
    padding: 40px;
  }

  .fitur > * > object {
    margin: 0 auto;
    margin-top: 50px;
    height: 70%;
    width: 70%;
  }

  .fitur > * > div > h1 {
    font-size: 26px;
  }

  .fitur > * > div > p {
    font-size: 20px;
  }

  .poster {
    padding: 60px 40px;
  }

  .poster .content {
    padding: 0;
    width: 100%;
    color: #fff;
  }

  .poster .content h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .poster .content p {
    font-size: 16px;
    font-weight: 100;
    margin-top: 30px;
  }

  .poster .content .icons > * {
    width: 30px;
    height: 30px;
  }

  .contact .text {
    height: 35px;
    padding: 10px;
  }
  .contact .width-text-1 {
    width: 100%;
    margin-top: 10px;
  }
  .contact .width-text-2 {
    margin-top: 10px;
  }

  footer .container .row {
    flex-direction: column;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #mobile {
    display: none;
  }
  #toggler {
    display: flex;
  }

  header {
    padding: 20px 30px;
  }

  header nav div ~ ul {
    display: none;
  }
  .fitur {
    padding: 20px;
  }

  .fitur > * > div > h1 {
    font-size: 24px;
  }

  .fitur > * > div > p {
    font-size: 16px;
  }
  /* footer .container .row .services,
  footer .container .row .getintouch {
    flex-grow: 1;
  } */
  .paket {
    padding: 10px;
  }
  .paket h1 {
    margin: 40px;
  }
  .paket .container {
    padding: 0;
  }
  .paket .container div {
    padding: 30px 10px;
  }
  .paket .container p {
    margin-top: 0;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 15px;
  }
}
