@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Black.woff2") format("woff2"),
    url("../assets/font/Lato-Black.woff") format("woff"),
    url("../assets/font/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Bold.woff2") format("woff2"),
    url("../assets/font/Lato-Bold.woff") format("woff"),
    url("../assets/font/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-BlackItalic.woff2") format("woff2"),
    url("../assets/font/Lato-BlackItalic.woff") format("woff"),
    url("../assets/font/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-BoldItalic.woff2") format("woff2"),
    url("../assets/font/Lato-BoldItalic.woff") format("woff"),
    url("../assets/font/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Italic.woff2") format("woff2"),
    url("../assets/font/Lato-Italic.woff") format("woff"),
    url("../assets/font/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Light.woff2") format("woff2"),
    url("../assets/font/Lato-Light.woff") format("woff"),
    url("../assets/font/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-LightItalic.woff2") format("woff2"),
    url("../assets/font/Lato-LightItalic.woff") format("woff"),
    url("../assets/font/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato-Regular.woff2") format("woff2"),
    url("../assets/font/Lato-Regular.woff") format("woff"),
    url("../assets/font/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../assets/font/Lato-HairlineItalic.woff2") format("woff2"),
    url("../assets/font/Lato-HairlineItalic.woff") format("woff"),
    url("../assets/font/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../assets/font/Lato-Hairline.woff2") format("woff2"),
    url("../assets/font/Lato-Hairline.woff") format("woff"),
    url("../assets/font/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

/* navbar */

header {
  width: 100%;
  padding: 30px 80px;
  position: fixed;
  transition: all 0.2s;
  z-index: 5;
  letter-spacing: 1px;
}

header.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 10px grey;
}

header.scrolled nav div p,
header.scrolled nav ul li a,
header.scrolled nav ul li a:visited,
header.scrolled nav ul li a:link {
  color: #041c32;
}

header.scrolled nav div svg {
  fill: #2768a3;
}

header.scrolled nav div#toggler button,
header.scrolled nav div#toggler button::before,
header.scrolled nav div#toggler button::after {
  background-color: #041c32;
}

header nav div p {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

#toggler,
#mobile {
  display: none;
}

#toggler,
#toggler::after,
#toggler::before {
  z-index: 2;
}

#mobile {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: #fff;
}

#mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mobile ul li {
  position: relative;
  transform: skewX(-45deg);
  margin-top: 20px;
  padding: 12px 40px;
}

#mobile ul li:hover::before {
  width: 100%;
}

#mobile ul li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #041c32;
  transition: all 0.2s;
}

#mobile ul li:hover a {
  color: #fff;
}

#mobile ul li a {
  display: inline-block;
  transform: skewX(45deg);
  color: #041c32;
  transition: color 0.2s;
}

#toggler {
  cursor: pointer;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#toggler button {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.1s, transform 0.3s;
}

#toggler button:hover::before {
  transform: translate(-50%, -330%);
}

#toggler button:hover::after {
  transform: translate(-50%, 240%);
}

#toggler button::before {
  background-color: #fff;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -280%);
  transition: background-color 0.1s, transform 0.3s;
  cursor: pointer;
}
#toggler button::after {
  background-color: #fff;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
  transform-origin: top left;
  transition: background-color 0.1s, transform 0.3s;
  cursor: pointer;
}

#toggled,
#toggled::before,
#toggled::after {
  background-color: #041c32 !important;
}

#toggler #toggled {
  background-color: transparent !important;
}

#toggler #toggled::before {
  transform: translate(-68%, 330%) rotate(-45deg);
}

#toggler #toggled::after {
  transform: translate(-50%, 0) rotate(45deg);
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

/* akhir navbar */

.hero {
  background: linear-gradient(rgba(4, 28, 50, 0.8), rgba(40, 104, 164, 0.8)),
    url("../assets/images/hero.png");
  background-position: center;
  padding: 200px 0;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 5px;
}

.hero p {
  padding: 30px;
  font-size: 24px;
  line-height: 150%;
}

.hero a,
.hero a:visited,
.hero a:link {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 60px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  transition: all 0.2s;
}

.hero a:hover {
  transform: translateY(-5px);
}

.hero a:active {
  transform: translateY(0);
}

a,
a:visited,
a:link {
  color: #fff;
  text-decoration: none;
}

button {
  text-transform: uppercase;
}

/* Intro */
.intro {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 130px;
}

.intro .image {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-basis: 2;
  width: 50%;
}

.intro .image img {
  width: 100%;
  height: 100%;
}

.intro .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
}

.intro h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  width: 80%;
}

.intro p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 140%;
  width: 75%;
}

.intro button {
  margin-top: 30px;
  font-size: 14px;
  line-height: 140%;
  color: #ed4c5c;
  background: #ffffff;
  text-decoration: none;
}

#intro {
  width: 445px;
  height: 337.92px;
  position: flex;
}

.intro div {
  width: 445px;
  height: 264px;
}
/* PAKET */

.paket {
  padding: 60px;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.paket h1 {
  /* margin-top: 87.63px; */
  margin: 0 0 50px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: rgba(47, 46, 65, 0.85);
}

.paket .container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 221.69px; */
  padding: 0 40px;
}

.paket .container > div {
  padding: 20px;
  box-shadow: 4px 10px 10px 2px #88888827;
  transition: all 0.2s;
}

.paket .container > div:hover {
  transform: scale(1.1);
}

.paket .container div:not(:last-child) {
  margin-right: 80px;
}

.paket .container p {
  text-align: center;
  margin-top: 23.72px;
  margin-bottom: 35.94px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.paket .container #garis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26.23px;
}

.paket .container ul {
  list-style-type: none;
  padding-left: 50px;
  font-size: 14px;
  line-height: 19.53px;
  color: #101010c4;
}

.paket .container ul img {
  margin-right: 9.77px;
}

.paket .container button {
  transition: all 0.2s;
  letter-spacing: 1px;
}

.paket .container button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.paket .container button:active {
  transform: translateY(0);
}

.gold {
  background: #fafafa;
  box-shadow: 0px 14px 10px -1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.gold p {
  color: #fdbf30;
}

.premium {
  background: #fafafa;
  box-shadow: 0px 14px 10px -1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.premium p {
  color: #6f6f6f;
}

.standard {
  background: #fafafa;
  box-shadow: 0px 14px 10px -1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.standard p {
  color: #195da1;
}

.harga {
  text-align: center;
  width: 100%;
  /* margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center; */
}

.harga h2 {
  font-size: 20px;
  margin-bottom: 14.7px;
}

.harga span {
  font-size: 14px;
  color: #6f6f6f;
}

.gold .harga h2 {
  margin-top: 20.4px;
  color: #fdbf30;
}

.gold .harga h3 {
  /* margin-top: 28.4px; */
  color: #6f6f6f;
}

.premium .harga h2 {
  margin-top: 39.83px;
  color: #6f6f6f;
}

.premium .harga h3 {
  /* margin-top: 47.83px; */
  color: #6f6f6f;
}

.standard .harga h2 {
  margin-top: 59.351px;
  color: #195da1;
}

.standard .harga h3 {
  /* margin-top: 68.351px; */
  color: #6f6f6f;
}

.paket button {
  display: block;
  padding: 10px;
  width: 243px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  color: #fafafa;
  font-weight: 800;
  border-radius: 5px;
  line-height: 25px;
  size: 21px;
}

.gold button {
  background-color: #fdbf30;
}

.premium button {
  background-color: #6f6f6f;
}

.standard button {
  background-color: #195da1;
}

/* FITUR TERBAIK*/
.fitur-terbaik {
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fitur-terbaik h1 {
  font-size: 36px;
  margin-top: 30px;
}

.fitur-terbaik div {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fitur-terbaik div img {
  max-width: 100%;
  margin: 80px;
  /* width: 460px; */
  /* height: 140px; */
}

/* FITUR */

.fitur {
  background: #f6fbff;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.fitur > * {
  display: flex;
  flex-wrap: wrap;
}

.fitur > * > * {
  height: 50%;
  width: 50%;
}

.fitur > *:not(:last-child) {
  margin-bottom: -30px;
}

.fitur > * > object {
  padding: 80px;
  height: 100%;
}

.fitur > * > div {
  letter-spacing: 2px;
  line-height: 30px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.fitur > * > div > h1 {
  font-weight: bold;
  line-height: 35px;
  font-size: 30px;
}

.fitur > * > div > p {
  font-weight: 400;
  font-size: 18px;
  color: #6f6f6f;
}

.fitur > * > div > p {
  margin-top: 20px;
}

.fitur1 {
  /* display: flex; */
  /* height: 560px; */
  /* padding: 0 10%; */
}

.fitur1 > object {
  /* width: 50%; */
  /* height: 400px; */
  /* align-self: center; */
}

.fitur1 > div {
  /* align-self: center; */
  /* padding-right: 200px; */
  /* width: 50%; */
}

.fitur1 h1 {
  /* font-size: 36px; */
  /* margin: 20px 0; */
}

.fitur1 p {
  /* font-size: 24px; */
}

.fitur-section {
  /* height: 560px; */
  /* padding: 0 10%; */
  display: flex;
}

.fitur-section > div {
  /* width: 50%; */
  /* align-self: center; */
  /* padding-left: 150px; */
}

.fitur-section h1 {
  /* font-size: 36px; */
  /* margin: 20px 0; */
}

.fitur-section p {
  /* font-size: 24px; */
}

.fitur-section > object {
  /* width: 50%; */
  /* height: 414px; */
  /* align-self: center; */
}

.fitur3 {
  /* display: flex; */
  /* height: 560px; */
  /* padding: 0 10%; */
}

.fitur3 > object {
  /* width: 50%; */
  /* height: 400px; */
  /* align-self: center; */
}

.fitur3 > div {
  /* align-self: center; */
  /* width: 50%; */
  /* padding-right: 200px; */
}

.fitur3 h1 {
  /* font-size: 36px; */
  /* margin: 20px 0; */
}

.fitur3 p {
  /* font-size: 24px; */
}

.fitur-section4 {
  /* height: 560px; */
  /* padding: 0 10%; */
  /* display: flex; */
}

.fitur-section4 > div {
  /* width: 50%; */
  /* align-self: center; */
  /* padding-left: 150px; */
}

.fitur-section4 h1 {
  /* font-size: 36px; */
  /* margin: 20px 0; */
}

.fitur-section4 p {
  /* font-size: 24px; */
}

.fitur-section4 > object {
  /* width: 50%; */
  /* height: 414px; */
  align-self: center;
  justify-content: center;
}

/* POSTER */
.poster {
  display: flex;
  background: linear-gradient(
      to right,
      rgb(15, 60, 102),
      rgba(25, 93, 161, 0.72),
      rgba(234, 245, 255, 0.23)
    ),
    url("../assets/images/poster.png");
  padding: 50px;
  background-repeat: no-repeat;
  background-position: right;
  /* 
  background-repeat: no-repeat;
  background-position: center center; */
}

.poster .content {
  width: 50%;
  padding: 70px;
  color: #fff;
}

.poster .content h1 {
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 36px;
}

.poster .content p {
  font-weight: 100;
  margin-top: 30px;
  line-height: 30px;
}

.poster .content .icons {
  margin-top: 35px;
}

.poster .content .icons > * {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.poster h1 {
  /* font-family: "Lato";
  scr: url("Lato-Reguler.woff2") format("woff2"),
  url("Lato-Reguler.woff") format("woff"); */
  /* font-size: 14px;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  color: #0f0e0e;
  text-align: left; */
  /*text-indent: ;*/
}

/* CONTACT */
.contact {
  padding: 60px;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.describe {
  flex: 0 0 50%;
  padding: 0 40px;
}
.describe h1 {
  font-size: 36px;
  margin-bottom: 45px;
}
.describe p {
  text-align: justify;
  font-size: 16px;
}
.input {
  flex: 0 0 50%;
  padding: 0 40px;
  /* display: flex;
  flex-wrap: nowrap; */
}
.input button {
  cursor: pointer;
  transition: all 0.2s;
}
.input button:active {
  transform: translateY(10%);
}
.text-box-in {
  display: flex;
  justify-content: space-between;
}
.contact .text {
  /* width: 100%; */
  height: 50px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  padding: 20px;
}
.width-text-1 {
  width: 48%;
}
.width-text-2 {
  width: 100%;
  margin-top: 20px;
}
.contact button {
  display: block;
  padding: 10px;
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-weight: 800;
  border-radius: 5px;
  line-height: 25px;
  size: 21px;
  background: #041c32;
  margin-top: 20px;
  font-weight: lighter;
}

/* FOOTER */
footer {
  padding: 20px;
  background-color: #fafafa;
}
footer .container {
  /* width: 100%;
  height: 435px; */
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

footer .container .row:not(:last-child) {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

footer .container h4 {
  margin-top: 85px;
  margin-bottom: 30px;
}

footer .copyright {
  display: block;
  width: 91%;
}

.getintouch .icon object {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.getintouch p span {
  display: block;
  margin-top: 15px;
}

.services ul li {
  list-style-type: none;
}
